*{
	box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
a{
  transition: $transition;
  text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
